<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listners>
		<listner class-name="Analyzer.RetryTransformer" />
	</listners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="test.SmokeTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
